.hero{
    width:100%;
    height:100vh;
    position: relative;
}
.hero_img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
}
.hero_title{
    position: absolute;
    bottom:15%;
    right:10%;
    color:#fff;
    font-size: 4rem;
    padding:15px;

}